@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600;700&family=Open+Sans:ital,wght@0,800;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Mukta:wght@600;700&family=Open+Sans:ital,wght@0,800;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Cuprum:wght@700&family=Hind:wght@700&family=Mukta:wght@600;700&family=Open+Sans:ital,wght@0,800;1,700&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@1&family=Bungee+Shade&family=Comfortaa:wght@700&family=Cuprum:wght@700&family=Hind:wght@700&family=Kalam:wght@700&family=Mukta:wght@600;700&family=Open+Sans:ital,wght@0,800;1,700&family=Roboto:ital,wght@1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /* background-color: url(../background.jpg); */
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size:90px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    /* background-color: rgb(126, 201, 112); */
    background-image: url("../background/brown.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    /* background-size: 200px; */
    padding: 1%;
    border: 10px solid rgb(206, 205, 135);
}



header  {
    
    background-color: black;  
}

.menu * {
    margin: 0;
    padding: 0%;
}

.menu ul,
.menu li {
    list-style: none;
}
.menu > ul {
    display: flex;
    justify-content: center;
    border-right: 1px solid #c7c8ca;
}

.menu > ul li a {
  
    display: block;
    padding: 7px 30px 7px 40px;
    font-size: 17px;
    text-decoration: none;
    color: rgb(255, 255, 255);
font-family: 'Comfortaa', cursive;
transition: all 0.3s ease;
}

.menu > ul li > a i.fa {
    position: relative;
    right: 15px;
    
}

/* .menu > ul li:first-child {
border-left: 1px solid #b2b3b5;
}

.menu > ul li:last-child {
    border-right: 1px solid #b2b3b5;
} */

.menu li a:hover{
background: rgb(206, 205, 135);
color: rgb(0, 0, 0);
box-shadow: 1px 5px 10px -5px black;
transition: all 0.3s ease;
}

.menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.menu li > ul li {
    border: 1px solid #c7c8ca;
}

.menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: black;
}

.menu li:hover > ul {
    display: block;
}

#startMain {
    background: url(../Каталог/main/кухняГол3.jpg);
    padding: 18%;
    /* height: 250px; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #27271f;
    text-shadow: 2px black;
    font-size: 150%;
font-family: 'Roboto', sans-serif;
/* text-shadow: 1px 1px 1px rgb(0, 0, 0); */
}

.textMain {
    background-color: rgba(206, 205, 135, 0.705);
    /* background: rgba(147, 228, 127, 0.541); */
   padding: 18px;
}
